.logo{
display:flex;
justify-content:center;
margin-bottom:20px;
}

.logo img{
width:250px;
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:10px;
margin-bottom:10px;
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:8px;
border:1px solid gray;
outline:none;
}

button{
width:100%;
padding:12px;
background:#dc0921;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#ea7f0c;
}

.links{
text-align:center;
margin-top:15px;
}

.links a{
text-decoration:none;
color:#5aec0c;
font-weight:bold;
}